# RetroMCP JAR
RetroMCP-Java-all.jar

# RetroMCP folders
bin
build
conf
jars
lib
reobf
temp

# Client
src/minecraft/hmi
src/minecraft/net/minecraft/client
src/minecraft/net/minecraft/isom
src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/mod_spawnEggs.java
!src/minecraft/net/minecraft/src/ItemDevSword.java
!src/minecraft/net/minecraft/src/ItemSpawnEgg.java


# Server TODO
src/minecraft_server/net/minecraft/server/*
src/minecraft_server/net/minecraft/src/*
!src/minecraft_server/net/minecraft/src/mod_spawnEggs.java
!src/minecraft_server/net/minecraft/src/ItemDevSword.java
!src/minecraft_server/net/minecraft/src/ItemSpawnEgg.java